<div class="thermometer-wrapper">
    <div class="thermometer-component">
        <div class="temperature" style="height:0" data-value="0°C"></div>
        <div class="graduations"></div>
    </div>
    <div class="thermometer-playground">
        <div class="thermometer-range">
            <input id="minTemp" type="text" value="-20">
            <input type="range" min="-20" max="50" value="42">
            <input id="maxTemp" type="text" value="50">
        </div>
        <p class="unit">Celsius °C</p>
    </div>
    <p class="info">Adjust the slider or enter values to change the temperature.</p>
</div>